@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import "tailwindcss";

@theme {
  --background: #212121;
  --color-primary: #00ef50;
  --color-secondary: #dedede;
  --color-gray-700: #b5b5b5;
  --font-Anton: "Anton", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", Arial, sans-serif;
}
